

<div class="w3-panel w3-pale-blue w3-leftbar
 w3-rightbar w3-topbar w3-border-blue w3-margin-right w3-margin-left">
<table width = "100%" border = 0 >

<tr><td>
  <font family = 'courier' size='5'><b>IRA</b> - Add a Deal</font>
</td><td align = "right">
<a href = '/updateuser'>{{userObj.firstname}}</a>&emsp;<img width='50' src={{userObj.photo}}>
</td></tr>

<tr><td align = "left">
  <a href = "/">Home</a>&emsp;
</td><td>
</td><td align = "right">
</td></tr>

<tr><td>
<br>
{{message}}
</td></tr>
</table>
</div>

<form action = "{{postendpoint}}" method = "POST">
<div class="w3-panel w3-pale-blue w3-leftbar
          w3-rightbar w3-border-blue w3-margin-right w3-margin-left">
<br>
<table width = "100%" border = 0>
      <colgroup>
      <col width="30%"/>
      <col width="20%"/>
      <col width="5%"/>
      <col width="20%"/>
      <col width="20%"/>
      </colgroup>

<tr>
    	<td align="right">
        <b>Deal Name:&nbsp;</b>
    	</td>
      <td align="left" colspan="2">
    	<input type = "text" size = "30"  name = "name"><br>
      </td>
      <td></td>
</tr>

<tr>

    	<td align="right">
        Tax-ID/EIN of Holding Entity:&nbsp;
    	</td>
        <td align="left">
        <input type = "text" name = "taxid"><br>
      </td>
        <td></td>
        <td></td>
</tr>

<tr>
  <td style="min-height:60px;">&nbsp;</td>
  <td></td>
</tr>


<tr>
        <td align="right">Properties' Value:</td>
        <td align="left"><input type = "text" name = "aggregate_value"><br></td>
        <td></td>
          <td align="right">Properties' Debt/Loan:</td>
        <td align="left"><input type = "text" name = "aggregate_debt"><br></td>
</tr>

  <tr>
    <td align="right">Deal Cash and Assets:</td>
    <td align="left"><input type = "text" name = "cash_assets"></td>
    <td></td>
    <td align="right">Deal Debt/Loan:</td>
    <td align="left"><input type = "text" name = "deal_debt"></td>
  </tr>

  <tr>

    <td align="right">Total Value:</td>
    <td align="center"> $--- </td>
    <td></td>
    <td align="right">Total Debt: </td>
    <td align="center"> $---  </td>
  </tr>

  <tr>
    <td style="min-height:60px;">&nbsp;</td>
    <td></td>
  </tr>

    <tr>
      <td align="right">Deal Notes:</td>
      <td colspan="3"> <textarea name = "notes" cols="40" rows="2"></textarea> </td>
      <td></td>
    </tr>


<tr>
    	<td></td>
      <td></td>
      <td></td>
      <td align="right">
         <input type = "submit" value = "Submit">
      </td>
<tr>
</form>
</table>
<br>
</div>


<div class="w3-panel w3-pale-blue w3-leftbar
 w3-rightbar w3-bottombar w3-border-blue w3-margin-right w3-margin-left">
<br>
</div>
&emsp;&emsp;
