
<form action = "{{postendpoint}}" method = "POST">
<br><br>
<div class="w3-panel w3-pale-red w3-leftbar
          w3-rightbar w3-border-red w3-margin-right w3-margin-left">
<h2>DealTrak Login</h2>
{{message}}
<br><br>
<table>
<tr>
	<td>
	Email:
	</td><td>
	<input type = "text" name = "username" value="alex@gmail.com">  <br>
    </td>
</tr>

<tr>
	<td>
  	Password:
	</td><td>
	<input type = "text" name = "password" value=""><br>
    </td>
</tr>
<tr>
	<td></td>
  <td>
    <br>
     <input type = "submit" value = "Login">
  </td>
<tr>
</table>
</form>
</div>
&emsp;&emsp;(c) 2018 DealTrak Security
