

<div id='propnav'>

THIS IS propnav
&emsp; &emsp;<a href = "/">Home</a>
&emsp;<a href = {{addform}}>Add a property</a>
&emsp; &emsp;<a href = "/profile">{{username}}</a>
<br><br>
<!-- {{#if message}}
    <div class="w3-panel w3-pale-yellow w3-leftbar
     w3-rightbar w3-border-orange w3-margin-right w3-margin-left">
    <p>{{message}}</p>
    </div>
</div> -->
